a {
    text-decoration: none;
    color: black;
}

.cen {
    /* margin: 0 auto; */
    margin-left: 280px;
    margin-right: 300px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    width: 780px;
}

.navbar {
    display: grid;
    justify-content: start;
    align-content: start;
}

.top {
    display: flex;
    justify-content: start;
    align-items: start;
    background: rgb(255, 254, 254);
    position: fixed;
    /*固定在顶部*/
    top: 0;
    /*离顶部的距离为0*/
    width: 70%;
}

.top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.top li {
    float: left;
    /* 使li内容横向浮动，即横向排列  */
    margin-right: 5px;
    /* 两个li之间的距离*/
}

.top li a {
    /* 设置链接内容显示的格式*/
    display: block;
    /* 把链接显示为块元素可使整个链接区域可点击 */
    color: rgb(0, 0, 0);
    font-size: small;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* 去除下划线 */
}

.top li a:hover {
    font-weight: 700
}

.top ul li ul {
    /* 设置二级菜单 */
    width: auto;
    background: rgb(255, 255, 255);
    position: absolute;
    border-radius: 10%;
    display: none;
    /* 默认隐藏二级菜单的内容 */
}

.top ul li ul li {
    /* 二级菜单li内容的显示 */
    margin-right: 0;
    float: none;
    text-align: center;

}

.top ul li:hover ul {
    /* 鼠标选中二级菜单内容时 */
    display: block;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 10%;
    /* padding: 10px; */
    height: 85px;
}

.studyplan {
    width: 250px;
    height: 150px;
    background-color: rosybrown;
}

/* 将正文和文档的高度设置为 100% 以启用"整页选项卡" */
body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

/* 选项卡链接样式 */
.tablink {
    color: rgb(0, 0, 0);
    float: left;
    border: 0;
    border-radius: 10%;
    outline: none;
    margin: 8px;
    cursor: pointer;
    padding: 8px 10px;
    font-size: 15px;
    width: 12%;
}

.tablink:hover {
    font-weight: 700;
}

/* 设置标签内容的样式（并为整页内容添加 height:100% ） */
.tabcontent {
    color: black;
    display: none;
    padding: 40px 20px;
    height: 100%;
}

/* 定义悬停提示框的样式 */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;

    background-color: #ffffff;
    border: solid;
    border-width: 0.1px;
    border-radius: 10%;
    border-color: #aaa;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltiptext div {
    display: inline-block;
    margin-top: -15px;
    margin-left: 10px;
    margin-right: 10px;
}

.tooltiptext :hover div {
    display: block;
}

.tooltiptextcare {
    background-color: rgb(53, 168, 130);
    color: white;
    font-size: 18px;
    width: 270px;
    line-height: 35px;
    border-radius: 5%;
    text-align: center;
}

#推荐 {
    background-color: white;
}

#算法 {
    background-color: white;
}

#数据结构 {
    background-color: white;
}

#职业发展 {
    background-color: white;
}

#竞赛 {
    background-color: white;
}

#前端 {
    background-color: white;
}

#后端 {
    background-color: white;
}

.menuButton {
    background-color: rgb(255, 255, 255);
    font-family: "Gill Sans Extrabold", monospace;
    word-wrap: break-word;
    border: 0;
    border-radius: 10%;
    color: rgb(6, 6, 6);
    float: left;
    outline: none;
    margin: 2px;
    cursor: pointer;
    padding: 6px 6px;
    font-size: 14px;
    width: 34px;
}

.menuButton:hover {
    font-weight: 700;
}

.tabcontent1 {
    color: black;
    display: none;
    height: 100%;
}

.dayworkhead {
    color: rgb(54, 154, 193);
    padding-left: 10px;
}

.dayworkbody {
    color: rgb(52, 48, 48);
    margin-top: -15px;
    padding-left: 10px;
    font-size: 14px;
}

#THU今 {
    background-color: white
}

#FRI22 {
    background-color: white
}

#SAT23 {
    background-color: white
}

#SUN24 {
    background-color: white
}

#MON25 {
    background-color: white
}

#TUE26 {
    background-color: white
}

#WED27 {
    background-color: white
}

.dayworkbelow {
    color: #b5b5b5;
    margin-top: 3px;
    font-size: 12px;
    font-weight: 150;
}

.dayworkbelow:hover {
    color: #2196F3;
}

/* 登录弹窗 用户名 与 密码 格式 */

.inputStyle1{
    width: 240px;
    height: 27px;
}
.inputStyle2{
    width: 200px;
    height: 27px;
}
.textStyle {
    display: inline-block;
    width: 60px;
    text-align-last: justify;
}
.enwindow{
    width: 300px;
    height: 460px;
    display: none;
    position: fixed; 
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding: 20px; 
    border-radius:10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}